[Desktop Entry]
Encoding=UTF-8
Name=xbelSync
GenericName=Bookmark Synchronization
Comment=Synchronizes bookmarks between computers. Includes bookmark library management.
Icon=/usr/share/pixmaps/xbelsync-16.png
Type=Application
Categories=Application;Network;WebBrowser;Settings;Utility
Exec=xbelSync
Terminal=false
MimeType=application/xbel+xml

[Desktop Action Edit]
Exec=xbelSync %f
Name=Edit (xbelSync)

