[Desktop Entry]
Encoding=UTF-8
Name=Jucetice Jost
GenericName=Audio Sequencer/Host
Comment=Multi-technology (native vst, ladspa, dssi) host in linux. It will mainly host a chain of plugins per instance, publishing jack and alsa_seq ports in order to be connected in your main stream flow.
Icon=/usr/share/pixmaps/jost.xpm
Type=Application
Categories=Application;AudioVideo;Audio;Juce;
Exec=jost
Terminal=false
;MimeType=application/vnd.ladspa;

;[Desktop Action Edit]
;Exec=jost %f
;Name=Edit (jost)

